body {
}

h1 {
    color: #00264d;
}

h2{
    color: #66004d;
    font-weight:600
}

#ticketIcon {
   width:25px;
   height:25px;
   margin-top:-5px;
   margin-left:2px;
}

.newTicket {
   visibility:hidden; 
   width:20px;
   height:20px;
   margin-top:20px;
   margin-left:-9px;
   margin-bottom:0px;
   position:absolute;
   opacity: 1;
}

.newTicket-add {
   width:20px;
   height:20px;
   margin-top:15px;
   margin-left:-9px;
   margin-bottom:0px;
   position:absolute;
   opacity: 0;
   transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   -webkit-transition: all 1s ease-in-out;
}

.newTicket-remove {
   width:20px;
   height:20px;
   margin-top:25px;
   margin-left:-9px;
   margin-bottom:0px;
   position:absolute;
   opacity: 0;
   transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   -webkit-transition: all 1s ease-in-out;
}


#ticketCounterWrap {
    margin-top:50px;
    font-family: "Abel";
}

#numberTicketsWrap {
    padding-top:10px;
}

#numberTickets{
    font-family: 'Pathway Gothic One';
    font-size:30px;
    color:#422040;
    padding-left:15px;
}

#eventsListWrap {
    overflow:hidden;
    position:relative;
    font-family: 'Raleway';
}

#ticketsListHeader {
    width:500px;
    height:30px;
    margin:auto;
    margin-top:40px;
    background-color:#18314F;
    position:relative;
    font-family: 'Pathway Gothic One';
    font-size:18px;
}

#ticketOption {
    width:500px;
    height:70px;
    background-color:#384E77;
    position:relative;
    margin:auto;
    padding-top:22px;
    margin-bottom:-20px;
    z-index:1;
}

.listingsHeader {
    font-family: 'Raleway', sans-serif;
    color:#131515;
}

.listingsHeader-dateLabel {
    font-family: 'Pathway Gothic One', "sans-serif";
    font-size:20px;
    color:#3d3d5c;
    letter-spacing:2px;
}

#buyWrap {
    width:150px;
    height:70px;
    left:-50px;
    background-color:#4e74bb;
    position:relative;
    margin-top:-70px;
    margin-left:720px;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
    z-index:-1;
}

#shoppingCartIcon {
    width:50px;
    height:50px;
    position:relative;
    margin-left:68px;
    margin-top:10px;
}


#ticketOption:hover + #buyWrap {
    left: 30px;
}

#seatingLabel {
    color:#0E1B2C;
    font-size:15px;
    margin-left:-345px;
    float:none;
    position:relative;
}

#sectionLabel {
    color:white;
    position:absolute;
    margin-top:2.5px;
    margin-left:-194px;
}

.ticketQuantityLabel {
    position:relative;
    display:block;
    margin-left:46px;
    margin-top:-18px;
    float:none;
    color:#450E24;
    font-size:12px;
}


.ticketQuantityLabel-last {
    position:relative;
    display:block;
    margin-left:46px;
    margin-top:-18px;
    float:none;
    color:#450E24;
    font-size:12px;
}


#ticketPriceLabel{
    color:#0E1B2C;
    position:relative;
    margin-top:-19px;
    margin-left:380px;
    display:block;
}

#priceLabel {
    color:white;
    margin-left:175px;
    position:absolute;
    margin-top:2.5px;
}

.form-control {
    width:40px;
    height:40px;
}

#counter {
    position:relative;
}


.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  border-bottom-color:palevioletred;
  margin-right:5px;
  position:absolute;
  margin-top:-18px;
  margin-left:12px;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #f00;
   border-top-color:cornflowerblue;
  margin-top:28px;
  position:absolute;
  margin-left:-19px;

}

#listingsWrap {
    text-align:center;
    margin:auto;
    padding-top:50px;
}