h1 {
    text-align:center;
    padding: 50px 0px 0px 0px;
}

#artistName {
    opacity:0;
    color:indianred;
}


#eventName {
    position:absolute;
    margin-left:75px;
    margin-top:5px;
    color:#A22C29;
    font-size:12px;
}

#venueName {
    position:absolute;
    font-size:12px;
    margin-left:75px;
    margin-top:30px;
    color:#0A100D;
}

#location {
    position:absolute;
    margin-left:75px;
    margin-top:50px;
    color:#0A100D;
}

#atVenue {
    color:#747058;
}

.eventContainer {
    opacity: 0;
    background-color: #D6D5C9;
    width: 400px;
    height: 70px;
    margin:auto;
    transition: all .2s ease-in-out;
}

.eventContainer-cheapestEvent {
    opacity:0;
    background-color: #D6D5C9;
    width: 400px;
    height: 70px;
    position:relative;
    margin:auto;
    transition: all .2s ease-in-out;
}

#buyWrap {
    z-index:1;
    opacity:1;
    text-align:center;
    font-family: 'Raleway', sans-serif;
    font-size:15px;
    padding-top:14px;
    width:150px;
    height:70px;
    background-color:darkseagreen;
    position:absolute;
    margin-top:0px;
    margin-left:250px;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;   
}

.eventContainer:hover {
    transform:scale(1.1);
}

#eventInfoContainer {
    position:absolute;
    text-align:center;
    padding:0px 90px 0px 0px;
}

#minPriceTicket {
    font-size:12px;
    margin-top:-2px;
}

#viewTicketsContainer {
    margin-left:310px;
    padding:10px 5px 0px 0px;
    text-align:center;
}

#lineSeparator {
    background-color:white;
    position:absolute;
    width:60px;
    height:2px;
    top:50%;
    left:7%;
}

#dateContainer {
    background-color:#0A100D;
    position:absolute;
    width:70px;
    height:70px;
    text-align:center;
    color:white;
}

.dateText {
    padding: 7px 0px 0px 0px;
    color:white;
    font-size:14px;
}

div + div {
    margin-top:10px;
}